:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /*color: rgba(255, 255, 255, 0.87);*/
  /*background-color: #242424;*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body, html{
  height: 100%;
  width: 100%;
}

body{
  margin: 0;
}

#app{
  overflow: hidden;
  width: 100%;
  height: 100%
}

.px-2 { padding-right: 0.5rem; padding-left: 0.5rem; }
.p-2 { padding : 0.5rem}
.shadow-md { box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); }

.rounded-sm {border-radius: .15rem;}
.rounded-md {border-radius: .30rem;}
.rounded-lg {border-radius: .5rem;}


.rounded-md-top {border-radius: .30rem .30rem .0rem .0rem;}
.rounded-md-bottom {border-radius:.0rem .0rem  .30rem .30rem;}

.flex{display: flex;}
.flex-col{flex-direction:column;}
.flex-row{flex-direction:row;}
.align-center{align-items:center}
.justify-center{justify-content:center}
.justify-between{justify-content:space-between}

.gap-1{
  gap: 0.15rem;
}

.gap-5{
 gap: 0.5rem;
}

.property-value{

}
.property-title{
font-weight: bold;
text-transform: capitalize;

}

.transition-all {
    transition-duration: .15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.translateFullyRigthX{
transform: translateX(100%);
}

